<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    
   
</head>
<body class="amber lighten-4 container">
    <center>
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <h1>
           The blog 
           </h1>
    </div></div>
    <form method="post" action="/postblog">
    <label>
        Blog Title
        <input type="text" name="blogtitle">
    </label>
    <label>
        Blog Writer
        <input type="text" name="username">
    </label>
    <label>
        Blog Post
        <textarea name="blogpost" cols="10" rows="20"></textarea>
    </label>
    <button class="btn" type="submit">Submit</button>
    </form>
    
    {{#each blogs}}

      <div class="justify">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{this.blogtitle}}</span>
          <p>Made by: {{this.username}} </p>
          <p>{{this.blogpost}}</p>
        </div>
        <div class="card-action ">
          <a href="/postblog/delete/{{@index}}">Delete Post<i class=" material-icons">delete</i></a>
      </div>
    </div>
    </div>
 
    {{/each}}
  
   </center>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="materialization/materialize.js"></script>
</body>
 <style>

 h2{
     height: 50px;
 }
 p{
  text-align: justify;
  text-align: center;
 }
</style>

</html>