<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/students">
    <label>
        Ime: <br>
        <input type="text" name="ime">
    </label>
    <br>
     <label>
        Prezime: <br>
        <input type="text" name="prezime">
    </label>
    <br>
     <label>
        Prosek: <br>
        <input type="text" name="prosek">
    </label>
    <br>
    <button type="submit">Submit</button>
    </form>

    <table border="1">
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Prosek</th>
        </tr>
        {{#each students}}
        <tr>
            <td>{{this.ime}}</td>
            <td>{{this.prezime}}</td>
            <td>{{this.prosek}}</td>
            <td>
                <a href="/students/delete/{{@index}}">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
</body>
</html>